.column-276 {
  max-width: 276px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8px;
}

.column-480 {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.form-div {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1090px;
}